@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-montserrat);
    @apply text-gray-700;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    @apply text-2xl font-bold mb-3;
}

p {
    @apply text-sm;
}

small {
    @apply text-xs;
}

a {
    @apply text-primary;
}
