@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    src: url('../assets/fonts/Inter/static/Inter-Thin.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url('../assets/fonts/Inter/static/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('../assets/fonts/Inter/static/Inter-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../assets/fonts/Inter/static/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('../assets/fonts/Inter/static/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../assets/fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('../assets/fonts/Inter/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url('../assets/fonts/Inter/static/Inter-Black.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    @apply text-gray-700;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    @apply text-2xl font-bold mb-3;
}

p {
    @apply text-sm;
}

small {
    @apply text-xs;
}

a {
    text-decoration: none;
    @apply text-blue-600 !important;
}

/* chakra drawer */
.chakra-slide {
    @apply rounded-l-tremor-default divide-y max-w-[30%] !important;
}

.chakra-modal__header {
    @apply p-7 pb-5 !important;
}

.chakra-modal__body {
    @apply p-7 pt-5 !important;
}

/* chakra modal */
.chakra-modal__content {
    @apply rounded-tremor-default divide-y !important;
}

.chakra-modal__close-btn {
    @apply border-none !important;
}

/* chakra alert */
.chakra-alert {
    @apply py-2 rounded-full !important;
}

.chakra-alert[data-status='info'] {
    @apply bg-bgcolor !important;
}

.chakra-alert__title[data-status='info'] {
    @apply font-normal text-sm text-tremor-content dark:text-dark-tremor-content !important;
}

.chakra-alert__icon[data-status='info'] {
    @apply hidden !important;
}

.chakra-toast button {
    @apply text-tremor-content dark:text-dark-tremor-content right-2 top-1.5 !important;
}

/* chakra accordion */
.chakra-accordion__item {
    @apply border-none !important;
}

.chakra-accordion__button {
    @apply px-7 pt-7 pb-5 justify-between hover:bg-white !important;
}

.chakra-accordion__panel {
    @apply p-0 !important;
}

/* tremor input */
input {
    @apply placeholder:text-tremor-content-subtle !important;
}

/* tremor bar list */
.tremor-BarList-bar > :first-child {
    @apply left-5 !important;
}

/* tremor table */
.tremor-TableRow-row > :first-child {
    @apply pl-0;
}

.tremor-TableRow-row > :last-child {
    @apply pr-0;
}

.tremor-TableHeaderCell-root {
    @apply py-0;
}

/* tremor badge delta */
.tremor-BadgeDelta-icon {
    @apply h-4 mr-1;
}

.tremor-BadgeDelta-text {
    @apply text-xs;
}
